
  <head>
    <title>List</title>
  </head>

  <body>
    <!--Vista inicial-->
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(33, 184, 139);">
        <a href="#" class="navbar-brand">Lista</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!-- Page Content -->
    <main role="main" class="container my-auto">
      <br></br>
        <table class="table">
            <thead class="thead-ligth" style="background-color: rgb(33, 184, 139);">
            <tr>
              <th scope="col">Matricula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Primer Apellido</th>
              <th scope="col">Segundo Apellido</th>
              <th scope="col">Edad</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Sexo</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1718110384</th>
              <td>Julissa</td>
              <td>Dominguez</td>
              <td>Badillo</td>
              <td>20</td>
              <td>05-04-2000</td>
              <td>Mujer</td>
              <td>Soltera</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
              <td>      </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
                <td>      </td>
              </tr>
          </tbody>
        </table>

    <div style="width: 500px;">
        <a href="insert"><button type="button" class="btn" style="background:#75F5A5">Insert</button></a>

        <a href="view"><button type="button" class="btn" style="background:#75F5A5">View</button></a>

        <a href="update"><button type="button" class="btn" style="background:#75F5A5">Update</button></a>

        <a href="delete"><button type="button" class="btn" style="background:#75F5A5">Delete</button></a>

        <a href="/"><button type="button" class="btn" style="background:#75F5A5">Regresar</button></a>
    </div>
  </body>
